@model IEnumerable<IdentityUser>;

@{
    var user = ViewData["Users"];
}

<a href="~/Identity/Account/Register">Créer un nouvel utilisateur</a>

<div>
    <h3 class="mt-3 mb-3">Liste des utilisateurs</h3>
    <a class="btn-danger p-1 rounded text-white" href="~/Role">Administration des rôles</a>
</div>


<table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td class="flex-row">
                        <a asp-action="Edit" asp-route-id="@item.Id">Modifier |</a>
                        
                        <a asp-action="Delete" asp-route-id="@item.Id"> Supprimer</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>


